.app__skills_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background-color: var(--background-secondary-color);

    h2{
        font-size: 2rem;
        color: var(--primary-color);
        margin-bottom: 1.5rem;

        @media screen and (max-width: 750px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 450px) {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 1000px) {
        padding: 3rem 0;
    }

    @media screen and (max-width: 750px) {
        padding: 2rem 0;
    }
}

.app__skill-filter{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 550px) {
        justify-content: flex-start;
        overflow-x: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.app__skill-filter-item{
    display: flex;
    white-space: nowrap;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--font-color);
    font-size: 0.8rem;
    color: var(--font-color);

    &:hover{
        background-color: var(--gray-color);
        color: var(--font-color);
    }

    @media screen and (max-width: 650px) {
        padding: 0.5rem;
    }

    @media screen and (max-width: 550px) {
        font-size: 0.7rem;
        padding: 0.4rem;
        margin: 0.5rem;
    }
}

.item-active{
    background-color: var(--primary-color);
    color: var(--button-font-color);

    &:hover{
        background-color: var(--primary-hover-color);
        color: var(--button-font-color);
    }
}

.app__skill_data-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    @media screen and (max-width: 750px) {
        padding: 1rem;
    }

    @media screen and (max-width: 500px) {
        padding: 0.5rem;
    }
}

.app__skill_data{
    width: 85%;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    cursor: pointer;
    overflow-x: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
}

.app__skill_data-item{
    flex-direction: column;
    justify-content: space-between;
    border: 8px solid var(--white-color);
    background-color: var(--skills-bg-color);
    margin: 0.5rem;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    min-width: 12rem;
    transition: transform 0.3s ease;

    img{
        width: 90px;
        height: 80px;
    }

    p{
        margin-bottom: 0;
        margin-top: 1rem;
        padding: 0 0.75rem;
        background-color: var(--white-color);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: 1rem;

        @media screen and (max-width: 750px) {
            font-size: 0.9rem;
        }

        @media screen and (max-width: 450px) {
            font-size: 0.8rem;
        }
    }

    &:hover{
        transform: scale(1.1);
    }
}

.app__skill_data-scroll{
    margin: 1rem;
    width: 40px;
    height: 100%;
    color: var(--secondary-color-dark);

    &:hover{
        color: var(--primary-color);
    }

    @media screen and (max-width: 750px) {
        margin: 0.5rem;
        width: 30px;
    }
    @media screen and (max-width: 500px) {
        width: 25px;
    }
}