* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --font-base: "Lato", sans-serif;
  --background-color: #F8F9FA;
  --background-secondary-color: #edf2f8;

  --skills-bg-color: #e8e8f8;
  --primary-color: #03045E;
  --primary-hover-color: #03055eb9;

  --secondary-color: #e8e8f8;
  --secondary-color-dark: #b5b5dd;

  --neutral-color: #00B4D8;

  --gray-color: #cccfd28d;

  --black-color: #000000;
  --white-color: #ffffff;

  --font-color: #212529;

  --button-font-color: #F8F9FA;

  --success-color: #65e783;

  --error-color: #e76565;

  --footer-color: #F8F9FA;
  --footer-bg-color: #011326;
}

[app-theme="dark"] {
  --background-color: #010123;
  --background-secondary-color: #37374b56;

  --skills-bg-color: #d2d2e2e6;

  --primary-color: #CAF0F8;
  --primary-hover-color: #ADE8F4;

  --secondary-color: #90a3a789;

  --font-color: #F8F9FA;

  --white-color: #5f5f8c;

  --button-font-color: #212529;

  --footer-color: #011326;
  --footer-bg-color: #dcf3f9;
}